<h1>Pre-order Shoos</h1>

<form action="/shoos/order" method='post'>
<label for="name">Name:</label>
<input type="text" name="name">
<label for="address">Address:</label>
<input type="text" name="address">
<select name="style">
  <option value="Concerto">Concerto</option>
  <option value="Nature">Nature</option>
  <option value="Streamline">Streamline</option>
</select>
<select name="size">
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
  <option value="11">11</option>
</select>
<label for="quantity">Quantity:</label>
<input type="number" name="quantity">
<input type="submit" value="place order">
</form>